@font-face {
  font-family: iconfont; /* Project id 4496882 */
  src:
    url('//at.alicdn.com/t/c/font_4496882_27vmgo1j36x.woff2?t=1713370519549') format('woff2'),
    url('//at.alicdn.com/t/c/font_4496882_27vmgo1j36x.woff?t=1713370519549') format('woff'),
    url('//at.alicdn.com/t/c/font_4496882_27vmgo1j36x.ttf?t=1713370519549') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: iconfont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.icon-search::before {
  content: '\e6c5';
}
